<!DOCTYPE html>
<html>
  <head>
    <title>G-Scores</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="topbar">
      <h1>G-Scores</h1>
    </header>

    <div class="layout">
      <aside class="sidebar">
        <h2>Menu</h2>

        <%= link_to "Dashboard", root_path, class: current_page?(root_path) ? "active" : "" %>
        <%= link_to "Search Scores", students_path, class: current_page?(students_path) ? "active" : "" %>
        <%= link_to "Reports", reports_path, class: current_page?(reports_path) ? "active" : "" %>
        <span>Settings</span>
      </aside>

      <main class="content">
        <%= yield %>
      </main>
    </div>
  </body>
</html>